*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    
}

  
html,body{
  background-color: #f0f0f0;
  font-family:"Neue Machina";
  color:#151515;



}
.navbar{
    display:flex;
    justify-content:center;
   align-items:center ;
   position:fixed;
   top:0;
 width:100%;
 background-color:#f0f0f0;
 height:72px;
 padding-top:20px;
  
    font-size: 18px;
    column-gap:450px;
    
    

}
.logo-items-wrapper {
    display: flex;
    align-items: center;
}
.logo{
    width:52px;
    height:52px;
    margin-right:20px;
}
.items {
    display: flex;
 column-gap:50px;
 
   
    
    
}
.items div a{
  color:#151515;
    text-decoration: none;
   
   
}
.btns{
    display:flex;
    column-gap: 20px;
  
}
.btns button{
    font-weight: 400;
    background-color: transparent;
    font-size: 18px;
    height: 52px;
    border: none;
    cursor: pointer;

   
   

}
#login{
    font-family:"Neue Machina";
    background-color: white;
    color: #151515;
    width: 91px;
}
#sign_up{
    font-family:"Neue Machina";
    background-color: #151515;
    color: white;
    width: 112px;
}
.home{
    width:100%;
    height:580px;
   
   display: flex;
  justify-content: center;
   margin-top:172px;
 column-gap:90px;
   box-sizing: border-box;
   
    
}
.home_heading{
    padding-top:40px;
    font-size:70px;
    letter-spacing: -4px;
    line-height: 80px;
    
    
   

}
.illustration_1{
    width:550px;
    height:580px;
}

.info{
    font-size: 18px;
    margin-top:16px;
    line-height: 26px;
    font-family:"Neue Machina";
}
.email{
    margin-top:42px;
}
.email input{
    height:52px;
    width:361px;
    padding-left: 16px;
    border:none;
}
.email button{
    width:144px;
    height:52px;
    background-color: #151515;
    color:#FFFFFF;
    margin-left:none;
    margin-left:-3px;
}
.payment{
    margin-top:80px;
   
}


#visa{
  
    margin-right: 28px;

}
#mastercard{
  
    margin-right: 28px;

}
.about{
    display: flex;
    justify-content: center;
    margin-top:180px;
    column-gap:190px;
    font-weight:"regular";
}
.about_info{
    display: flex;
    flex-direction: column;
   
}
.about_info button{
    width:115px;
    height:38px;
    font-weight: 800;
    margin-bottom:40px;
    font-size: 14px;
    border-color:#000000;
    
}

.heading{
    font-size: 60px;
letter-spacing: -3px;
margin-bottom: 50px;

}
.about_info ul{
    margin-top:50px;
}
.info{
    font-size: 18px;
    line-height: 26px;
    margin-top:-10px;
    font-family:"Neue Machina";
}

.about_info ul li{
   
    font-size: 20px;
    list-style-type:square;
    font-family:"Neue Machina";
    line-height: 38px;
    margin-left:20px;
}
.illustration_2{
    width:550px;
    height:580px;
}
.how_it_works{
    display: flex;
    justify-content: center;
    margin-top:190px;
    column-gap: 120px;

}
.works{
   
    display:flex;
    margin-top: 20px;
    column-gap:80px;
    margin-bottom:30px;

}

.icon{
    width:100px;
    height:100px;
}
.works_heading{
    font-family:"Neue Machina";
    font-size:28px;
    letter-spacing: -1.4px;
    margin-bottom:10px;
}
.works_info{
    font-family:"Neue Machina";
    font-size:18px;
    line-height: 26px;
    
}
.how_it_works button{
    font-family:"Neue Machina";
    font-weight: 800;
    margin-bottom:40px;
    font-size: 14px;
    width:160px;
    height:38px;
    border-color:#000000;
}
.illustration_3{
    width:450px;
    height:698px;
}

.pricing{
    margin-top:150px;
    display:flex;
    justify-content:center;
    column-gap:190px;
    text-align: right;
}
.pricing button{
    width:108px;
    height:38px;
    font-size: 14px;
    font-weight: 800;
    margin-bottom:20px;
    margin-top:100px;
    border-color:#000000;
}
.pricing_info{
    font-size:18px;
    line-height: 26px;
    margin-top:-20px;
    font-family:"Neue Machina";
    
    
}
.illustration_4{
    width:470px;
    height:500px;
}
.plans{
    display: flex;
    justify-content: center;
    column-gap:50px;
    margin-bottom:60px;
}
.plan_box{
    border:1px solid #151515;
    width:436px;
    height:644px;
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-top:150px;
    
   
}
.plans_heading{
    font-size:80px;
    margin-top:30px;
   
}
sub,sup{
    font-size:20px;
    line-height: 28px;
}
.plans_info{
    font-size:20px;
    margin-top:20px;
    margin-bottom:70px;
 

}
.plan_box ul{
    list-style-type:  square;
  
}
.plan_box ul::marker{
    font-size:250px;
}
.plan_box ul li{
    font-size:18px;
    margin-top:24px;
    padding-left: 10px;
    
}

.plan_box button{
    width:356px;
    height:52px;
    font-size:18px;
   margin-top:90px;
   font-family: "Neue Machina";
  background-color: #151515;
  color:#FFFFFF;
 border:1px solid #151515;
 

}
 #plan_49{
    margin-top:183px;
}
#plan_99{
    background-color:#151515;
    color:#f0f0f0;
}
#plan_299{
    background-color: #FFFFFF;
    border:none;
}
#plan_99 button{
    background-color: #FFFFFF;
    color: #151515;
}
.questions_box{
    display: flex;
    justify-content: center;
    margin-top:170px;
    column-gap:140px;
    margin-bottom: 150px;

}
.questions_box button{
     width:79px;
     height:38px;
     margin-bottom: 30px;
     font-weight:800;
     border-color:#000000;

}
.que_heading{
font-size:60px;
letter-spacing: -3px;
margin-bottom:30px;

}
.que_intro{
    font-size:18px;
    line-height: 26px;
    margin-bottom: 40px;
   
}
.que{
    font-size:20px;
    font-weight: 800;
    line-height:28px;
 display: flex;
 column-gap: 30px;
 margin-bottom: 20px;
 

  
 
    
}
.que p{
    width:500px;
   
}

.ans{
    margin-bottom:15px;
    
}
hr{
    color:red;
}
.question_img{
    width:600px;
    height:620px;
}
.footer{
    background-color:#151515;
    width:100%;
    height:560px;
    color:#f0f0f0;
    
    display: flex;
    flex-direction:column;
    row-gap:150px;
    margin-bottom: 330px;

}
.footer_content{
    
   
    display: flex;
    justify-content:center;
    column-gap: 50px;
   padding-top:60px;
}
.footer_content ul{
    list-style-type: none;
   

}
.footer_content ul li{
    font-size:18px;
padding-top:20px;
}
.logowhite{
    width:52px;
    height:52px;
    margin-bottom:20px;
}
.footer_content p{
    font-size:52px;
    margin-bottom:30px;
  
}
.footer_email{
    width:361px;
    height:52px;
    border:1px solid #FFFFFF;
    font-size: 18px;
    padding-left:20px;
}
.footer_email_submit{
    width:123px;
    height:52px;
    background-color: #151515;
    border:1px solid #FFFFFF;
    color:#FFFFFF;
    font-size:18px;
    

}
.email_content{
    margin-right:120px;
}

.socials{
    display: flex;
    justify-content:center;
    column-gap: 250px;

}
.socials img{
    width:60px;
    height:60px;
}
.socials p{
    font-size:18px;
    margin-top:20px;
    margin-right:330px;
}

